<!DOCTYPE html>

@{
    Layout = "_Layout";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body style="background-image: url(bg.jpg); background-size: cover; background-repeat: no-repeat">
    <div class="panel-body">
        <h2>Here is the list of students eligible for the bursary</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @model IEnumerable<FormResponse>
                @foreach (FormResponse response in Model)
                {
                    <tr>
                        <td>@response.Name</td>
                        <td>@response.Email</td>
                        <td>@response.Phone</td>
                        <td class="text-center">
                            <form asp-action="Delete" method="post" asp-route-responseId="@response.Id">
                                <a asp-action="Edit" class="btn btn-sm btn-warning"
                                   asp-route-responseId="@response.Id">
                                    Edit
                                </a>
                                <input type="hidden" name="ProductID" value="@response.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="BursaryForm">Add students</a>
    </div>
</body>
</html>


